html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.wrapper{
	min-height: 100%;
	display:grid;
	grid-template-rows: auto 1fr auto;
}

body {
        text-align: center;
        background-color:white;
}

.topnav {
  	background: black;
	height: auto;
	font-weight: bold;
	padding-bottom: 0rem;
	width: 100%;
	overflow: hidden;
}

.topnav img{
	float:left;
	padding-top: 1rem;
	padding-bottom: 1rem;
	vertical-align: middle;
}


.links{
	padding-top: 0rem;
	padding-bottom: 0rem;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	padding-right: 7rem;
	display: flex;
	justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a, .topnav button {
	color: white;
	text-align: center;
	padding: 14px 16px;
  	text-decoration: none;
  	font-weight: bold;
}


/* Create a right-aligned (split) link inside the navigation bar */
.topnav img.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}

.topnav a:hover {
    color: red;
    text-decoration: none;

 }

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
	color:red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color:red;
}

.dropdown:hover .dropdown-content {
  display: block;
  justify-content: left;
}

.mobile-container{
	display:none;
}

.mnav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

.mnav #myLinks {
  display: none;
  font-family: Helvetica, sans-serif;
}

.mnav img{
	padding-bottom: .5rem;
	padding-top: .5rem;
}
.mnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

}

.mnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mnav a.icon:hover{
	color:red;
}


#myLinks{
	display: flex;
	justify-content: center;
}

#myLinks a:hover {
	background-color: red;
  	color: black;
  	text-decoration: none;
  	font-weight: bold;
}


.accordion {
	background-color: black;
	color: white;
  	cursor: pointer;
  	padding: 18px;
  	width: 100%;
  	border: none;
  	outline: none;
  	transition: 0.4s;
  	  font-size: 17px;

}

.accordion button{
  font-family: Helvetica, sans-serif;
    font-size: 17px;


}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
	background-color: red;
	color: black;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 18px;
  	display: none;
  	overflow: hidden;
}

 .announce{
	color: black;
	padding-top: 1rem;
	padding-bottom: 6rem;
	font-family: "Montserrat", sans-serif;
}

#beginning h1{
	padding-top: 3rem;
}


.employee{
	padding-top: 3rem;
	padding-bottom: 6rem;
}


h1, h2{
	font-family: "Montserrat", sans-serif;;
}

.employee h3{
	padding-bottom: 3rem;
	padding-top:0rem;
	font-family: "Montserrat", sans-serif;
}

.memp{
	display: none;
}

p {
        padding: 0px;
	color: black;
	font-family: Helvetica, sans-serif;
}


/*Rows and Columns*/
#beginning{
	color: black;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1rem;
	display: block;
}




.mobile, .mlogo{
	display: none;
}

.mgraph{
	display: none;
}

footer {
  	padding-top: 3rem;
  	padding-bottom: 3rem;
	background-color: black;
}


footer p {
  margin-bottom: .25rem;
  color: white;
  font-family: Helvetica, sans-serif;
}

@media only screen and (max-width:800px){

	footer{
		margin-top: 0rem;
	}
}


@media only screen and (max-width:1000px){

	.topnav, #beginning, .emp{
		display:none;

	}

	.dropdown-content a, .dropdown{
		display:block;
	}

	#myLinks{
		display: block;
	}

	h2{
		padding-top:0rem;
	}

	.accordion:hover{
		.mnav img{
			display: none;
		}
	}

	.announce{
		padding-top: 3rem;
		padding-bottom: 2rem;
		padding-left: .5rem;
		padding-right: .5rem;
	}

	.announce p{
		padding-bottom:0rem;
		padding-top: 0rem;
	}

.announce{display: none}
	.graph{
		padding-bottom: 2rem;
	}


	.mobile-container, .mobile, .memp, .mgraph{
		display: initial;
	}
.mgraph h1{
	padding-top:2rem;
}
	.mobile{
		padding-bottom: 5 rem;
		padding-top: 0rem;
	}

	.employee{
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-right: .5rem;
		padding-left: .5rem;
	}

	.employee img{
		width : 25%;
	}
}
